<footer>
            <div class="footer-items">
            <h2 class="footer-defund-the-police">DEFUND THE POLICE.</h2>
            <div class="hero-social-media">
            <a href="https://www.facebook.com/wpgpoliceharm/" target="_blank"> <img class="hvr-float" src="{{asset "images/facebook.png"}}" width="50" height="50" aria-label="Facebook"> </a>
            <a href="https://www.instagram.com/wpgpoliceharm/" target="_blank"> <img class="hvr-float" src="{{asset "images/instagram.png"}}" height="50" aria-label="Instagram"> </a>
            <a href="https://twitter.com/WpgPoliceHarm" target="_blank"> <img class="hvr-float" src="{{asset "images/twitter.png"}}" height="50" aria-label="Twitter/X"> </a>

            </div>
            </div>
        </footer>