<footer>
            <div class="footer-items">
            <h2 class="footer-defund-the-police">DEFUND THE POLICE.</h2>
            <div class="hero-social-media">
            <a href="https://www.facebook.com/wpgpoliceharm/" target="_blank" aria-label="W P G police harm Facebook page."> <img class="hvr-float" src="{{asset "images/facebook.png"}}" width="50" height="50" alt="Facebook logo."> </a>
            <a href="https://www.instagram.com/wpgpoliceharm/" target="_blank" aria-label="W P G police harm Instagram page."> <img class="hvr-float" src="{{asset "images/instagram.png"}}" height="50" alt="Instagram logo."> </a>
            <a href="https://twitter.com/WpgPoliceHarm" target="_blank" aria-label="W P G police harm Twitter/X page."> <img class="hvr-float" src="{{asset "images/twitter.png"}}" height="50" alt="Twitter logo."> </a>

            </div>
            </div>
        </footer>