<header class="header">
  <nav>
    <a href="/">
      <img class="header-logo" src="{{asset "images/logo.png"}}" aria-label="Winnipeg Police Cause Harm logo" />
    </a>

    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn">
      <span class="navicon"></span>
    </label>

    {{#if @site.navigation}}
      {{navigation}}
    {{/if}}
  </nav>
</header>