.header {
    width: 100%;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    background: rgba(255, 255, 255, 0);
    background-color: transparent;
    position: fixed;
    display: flex;
    -webkit-transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -o-transition: all ease-out 0.3s;
    transition: all ease-out 0.3s;
}
@media screen and (min-width: 768px) {
    .header {
        grid-template-columns: 1fr auto;
        grid-column-gap: 1rem;
    }
}
.active {
    background-color: rgba(34, 34, 34, 0.8);
}
.header > h1 {
    display: inline-block;
    padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
    .header > h1 {
        padding-bottom: 0;
    }
}
.header > h1 a,
.header > h1 a:visited {
    text-decoration: none;
    border: 0;
    color: white;
}
@media screen and (min-width: 768px) {
    .header > h1 a,
    .header > h1 a:visited {
        padding: 1rem;
    }
}
.header > h1 a:hover {
    color: white;
}
.header > nav {
    display: block;
    width: 100%;
}
@media screen and (min-width: 768px) {
    .header > nav {
        display: block;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.header > nav ul {
    overflow: hidden;
}
.header > nav ul li {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 600;
    margin-right: 0;
    font-size: 25px;
    padding-left: 50px;
}
@media screen and (max-width: 768px) {
    .header > nav ul li {
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 768px) {
    .header > nav ul {
        padding-left: 0px;
        margin-right: 2rem;
        display: block;
    }
}
.header > nav ul a,
.header > nav ul a:visited {
    color: white;
    text-decoration: none;
    border: 0;
    font-family: 'Roboto', sans-serif;
}
@media screen and (min-width: 768px) {
    .header > nav ul a,
    .header > nav ul a:visited {
        margin: 20px 30px;
    }
}


.header-always-on {
    width: 100%;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    background-color: transparent;
    position: fixed;
    display: flex;
    transition: all ease-out 0.3s;
    background-color: rgba(34, 34, 34, 0.8);
}
@media screen and (min-width: 768px) {
    .header-always-on {
        grid-template-columns: 1fr auto;
        grid-column-gap: 1rem;
        background-color: rgba(34, 34, 34, 0.8);
    }
}

.header-box-shadow {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.donate-button {
    margin-right: 0px;
    display: inline-block;
    font-size: 25px;
    text-align: center;
    font-weight: 600;
    padding: 0px 20px 0px 15px;
    font-style: italic;
    line-height: 1.5;
    color: #fff;
    background-color: red;
    border: 3px solid red;
}

@media screen and (min-width: 768px) {
    .donate-button {
        margin-right: 50px;
        font-size: 25px;
    }
}

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}
.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
    margin-top: 20px;
}
.header .menu-icon .navicon {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
}
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: white;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}
.header .menu-icon .navicon:before {
    top: 5px;
}
.header .menu-icon .navicon:after {
    top: -5px;
}
.header .menu-btn {
    display: none;
}
.header .menu-btn:checked ~ .menu {
    text-align: center;
    max-height: 240px;
    margin-bottom: 20px;
}
.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}
.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}
.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}
@media (min-width: 48em) {
    .header li {
        float: left;
    }
    .header li a {
        margin: 20px 30px;
    }
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }
}

.nav-hover {
  /*font-size: 36px;*/
  /*font-weight: bold;*/
  text-decoration: none;
  color: black;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(65%, transparent), color-stop(0, #fcf113));
  background-image: linear-gradient(180deg, transparent 65%, white 0);
  background-repeat: no-repeat;
  background-size: 0 130%;
  -webkit-transition: background-size .2s ease;
  transition: background-size .2s ease;
}

.nav-hover:hover {
  background-size: 100% 130%;
}

.nav-current {
  /*font-size: 36px;*/
  /*font-weight: bold;*/
  text-decoration: none;
  color: black;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(65%, transparent), color-stop(0, #fcf113));
  background-image: linear-gradient(180deg, transparent 65%, white 0);
  background-repeat: no-repeat;
  background-size: 100% 130%;
}
