name: Deploy theme PR preview
on:
  pull_request:
    branches-ignore:
      - production
  push:
    branches:
      - main

jobs:
  preview:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
        with:
          path: themenamehere
      - uses: actions/checkout@v2
        with:
          repository: SNathJr/ghost-on-heroku
          path: ghost-on-heroku
          fetch-depth: 0 # FIXME https://devcenter.heroku.com/changelog-items/775
      - uses: igordcsouza/github-action-get-branch-name@v1.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: ${{ github.event_name == 'pull_request' }}
      - name: Set branch name as PR_BRANCH_NAME
        run: echo "PR_BRANCH_NAME=${BRANCH_NAME}" >> $GITHUB_ENV
        if: ${{ github.event_name == 'pull_request' }}

      - name: Store Heroku app name from PR branch
        run: echo "APP_NAME=`echo ghostprev-${PR_BRANCH_NAME} | cut -c 1-30 | tr _ - | tr '[:upper:]' '[:lower:]' | sed -e 's/-$//' | sed -e 's/[^a-z0-9\-]//g'`" >> $GITHUB_ENV
        if: ${{ github.event_name == 'pull_request' }}
      - name: Store sandbox base Heroku app name
        run: echo "APP_NAME=`echo ghost-theme-sandbox-base`" >> $GITHUB_ENV
        if: ${{ github.event_name == 'push' }}

      - name: install fork plugin
        run: heroku plugins:install heroku-fork
        if: ${{ github.event.action == 'opened' }}
      - name: create forked application
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
        run: heroku fork --from ghost-theme-sandbox-base --to $APP_NAME
        if: ${{ github.event.action == 'opened' }}
      - name: replace database and set URL
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
        run: |
          heroku config:get JAWSDB_URL -a ghost-theme-sandbox-base > base.url
          heroku config:get JAWSDB_URL -a $APP_NAME > pr.url
          node -e 'const u = new URL(process.argv[1]); console.log(`mysqldump -h ${u.hostname} -u ${u.username} -p${u.password} ${u.pathname.substring(1)} --set-gtid-purged=OFF`)' `cat base.url` > dump.sh
          bash dump.sh > base.sql
          sed -i 's/casper/themenamehere/' base.sql
          node -e 'const u = new URL(process.argv[1]); console.log(`mysql -h ${u.hostname} -u ${u.username} -p${u.password} ${u.pathname.substring(1)}`)' `cat pr.url` > import.sh
          bash import.sh < base.sql
          echo "done?"
          heroku config:set APP_PUBLIC_URL=https://$APP_NAME.herokuapp.com -a $APP_NAME
        if: ${{ github.event.action == 'opened' }}

      - name: degit theme
        run: rm -rf themenamehere/.git
      - name: mv theme
        run: mv themenamehere ghost-on-heroku/content/themes
      - name: copy content overrides
        run: cp -Rv ghost-on-heroku/content/themes/themenamehere/.content-overrides/* ghost-on-heroku/content | true
      - name: hack .gitignore
        working-directory: ghost-on-heroku
        run: sed -i 's/content\/themes\/\*//' .gitignore

      - name: install Heroku SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.HEROKU_SSH_KEY }}
          known_hosts: ${{ secrets.HEROKU_KNOWN_HOSTS }}
      - name: add heroku remote
        working-directory: ghost-on-heroku
        run: git remote add heroku git@heroku.com:${APP_NAME}.git
      - name: configure git
        run: git config --global user.email "bot@chromatin.ca" && git config --global user.name "Chromatin Bot"
      - name: add and commit changes
        working-directory: ghost-on-heroku
        run: git add -A && git commit -m"Add theme"
      - name: push to heroku
        working-directory: ghost-on-heroku
        run: git push -f heroku master

      - name: add URL check
        if: ${{ github.event_name == 'pull_request' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPOSITORY: ${{ github.repository }}
          HEAD_SHA: ${{ github.event.pull_request.head.sha }}
        run: |
          curl \
            -X POST \
            -H "Authorization: token $GITHUB_TOKEN" \
            -H "Accept: application/vnd.github.v3+json" \
            https://api.github.com/repos/$REPOSITORY/statuses/$HEAD_SHA \
            -d '{"context":"Preview","description":"Ghost deployment with this theme","target_url":"https://'"$APP_NAME"'.herokuapp.com","state":"success"}'
